* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  color: #d6e1ef;
  background: linear-gradient(94.6deg, #32383e -60.81%, #17191c 185.78%);
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(
        33.38% 15.83% at 34.4% 54.19%,
        rgba(200, 84, 0, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(167.96deg, #262b2f 3.36%, #16191d 76.99%);
}

.main1 {
  text-align: center;
  padding: 24px;
  /* box-shadow:  20px 20px 20px  #b3adc2; */
  box-shadow: 52px 20px 88px rgba(2, 3, 3, 0.5),
    -8px -16px 56px rgba(232, 237, 243, 0.08);
  border-radius: 50px;
  background: none;
  height: 70vh;
  width: 50vw;
  position: absolute;
  right: 500px;

}

.main2 {
  padding: 24px;
  box-shadow: 52px 20px 88px rgba(2, 3, 3, 0.5),
    -8px -16px 56px rgba(232, 237, 243, 0.08),
    inset -16px -6px 80px rgba(248, 249, 249, 0.03);
  border-radius: 50px;
  height: 70vh;
  width: 70vw;
  position: absolute;
  right: 15vw;
  z-index: 2;
}

h1 {
  text-align: center;
  font-size: 45px;
  margin: 30px 0 50px;
  background: none;
}

h2 {
  text-align: center;
  font-size: 40px;
  background: none;
}

.hide {
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: none;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: 1px solid #a2a9b3;
  background: rgba(0, 0, 0, 0);
  justify-content: center;
  margin: 4px;
  margin-bottom: 40px;
  height: 55px;
  padding: 8px 12px;
}

input {
  margin-top: 10px;
  border : none;
  width: 25rem;
  background: rgba(0, 0, 0, 0);
}

input:focus {
  outline: none;
}

input::after {
  background: rgba(0, 0, 0, 0);
}

.success-message,
.failure-message,
.mismatch-message {
  background: none;
  color: gray;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 20px;
  padding-left: 1rem;
}

button {
  border: none;
  background: none;
  width: 10rem;
  height: 3rem;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

button:active {
  transform: scale(0.95);
}

.main1-btn {
  border: none;
  background: none;
  width: 10rem;
  height: 3rem;
  margin-top: 7rem;
  font-weight: bold;
  font-size: 18px;
}

.main1-btn:active {
  transform: scale(0.95);
}



.changeBoxShadow {
  box-shadow: none
}

.greeting {
  transition: 1s ease;
  width: 25vw;
}

.main1-greeting {
  text-align: center;
  padding-top: 8rem;
}

.introduce1 {

  padding-top: 2rem;
  background: none;
  font-size: 20px;
}

.introduce2 {

  padding-top: 1rem;
  background: none; 
  font-size: 20px;
}

.background {
  background-image: url("./img/img1.jpeg");
  background-size: cover;
}
